<!DOCTYPE html>

{% load static %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Lista de Pontos de Acesso</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background: #f9f9f9;
    }
    h1 {
      text-align: center;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #4CAF50;
      color: white;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

  <h1>Lista de Pontos de Acesso</h1>


  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Endereço</th>
        <th>Status</th>
        <th>Plano</th>
        <th>Cliente</th>
      </tr>
    </thead>
    <tbody>
      {% if pontos_acesso %}
        {% for pontos in pontos_acesso %}
          <tr>
            <td>{{ pontos.id }}</td>
            <td>{{ pontos.endereco }}</td>
            <td>{{ pontos.status }}</td>
            <td>{{ pontos.plano }}</td>
            <td>{{ pontos.cliente }}</td>     

          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

</body>
</html>
