{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'controle/filtro.css' %}">

{% block content %}

<h1>Lista de Ordens de Serviço</h1>

 <div  class="space-y-8">

    <div  class="mb-8">
        <div class="mb-4 flex justify-end">
        <a href="{% url 'adicionar_os' %}" 
            class="bg-green-600 text-white font-semibold px-5 py-2 rounded-xl hover:bg-green-700 transition shadow">
        + Adicionar os
        </a>
        </div>
    </div>




<div>
    <form method="get" class="form-container">
        <!-- Filtro por nome -->
        <div class="input-wrapper">
            <label for="nome" class="label">Nome</label>
            <input type="text" id="nome" name="nome" value="{{ request.GET.nome }}" class="input" placeholder="Buscar...">
        </div>

        <!-- Filtro por status -->
        <div class="status-wrapper">
            <label for="status" class="label">Status</label>
            <select id="status" name="status" class="select">
                <option value="">Todos</option>
                {% for value, label in status_choices %}
                <option value="{{ value }}" {% if request.GET.status == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Filtro por devendo -->
        <div class="devendo-wrapper">
            <label for="devendo" class="label">Devendo?</label>
            <select id="devendo" name="devendo" class="select">
                <option value="">Todos</option>
                <option value="sim" {% if request.GET.devendo == "sim" %}selected{% endif %}>Sim</option>
                <option value="nao" {% if request.GET.devendo == "nao" %}selected{% endif %}>Não</option>
            </select>
        </div>

        <!-- Botões -->
        <div class="button-wrapper">
            <button type="submit" class="button">Filtrar</button>
            <a href="{% url 'listar_os' %}" class="link-button">Limpar</a>
        </div>
    </form>
</div>




<div  class="mb-8">
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Tipo</th>
                    <th>prioridade</th>
                    <th>prazo</th>
                    <th>descricao</th>
                    <th>status</th>
                    <th>Equipe Responsavel </th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for os in ordens %}
                <tr>
                    <td>{{ os.id }}</td>
                    <td>
                        <select name="cliente_{{ os.id }}" required>
                            {% for cliente in clientes %}
                                <option value="{{ cliente.id }}" {% if cliente.id == os.cliente.id %}selected{% endif %}>
                                {{ cliente.nome }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    
                    <td>
                        <select name="tipo_{{ os.id }}">
                            {% for value, label in tipos_choices %}
                                <option value="{{ value }}" {% if os.tipo == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="prioridade_{{ os.id }}">
                            {% for value, label in prioridades_choices %}
                                <option value="{{ value }}" {% if os.prioridade == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="date" name="prazo_{{ os.id }}" value="{{ os.prazo|date:'Y-m-d' }}" required>
                    </td>
                    
                    <td>
                        <input type="text" name="descricao_{{ os.id }}" value="{{ os.descricao }}">
                    </td>
                    
                    <td>
                        <select name="status_{{ os.id }}">
                            {% for value, label in status_choices %}
                                <option value="{{ value }}" {% if os.status == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    
                    <td>
                        <select name="equipe_{{ os.id }}" required>
                            {% for equipe in equipes %}
                                <option value="{{ equipe.id }}" {% if equipe.id == os.equipe.id %}selected{% endif %}>
                                {{ equipe.nome }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>

                    <td>
                        <button type="submit" name="atualizar" value="{{ os.id }}">Salvar</button>
                    </td>

      
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>




{% endblock %}
